*:not(.fa) {
  font-family: xingothic-tc;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  line-height: 1.7;
  padding: 0;
  margin: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
}

h1, h2, h3, h4 {
  margin: 0;
  line-height: 1.6;
}

h2 {
  font-size: 28px;
  color: #008EFF;
}

h3 {
  font-size: 23px;
  color: #008EFF;
}

h4 {
  font-size: 16px;
  line-height: 1.6;
  color: #242424;
  font-weight: 400;
}

h5 {
  font-size: 14px;
  line-height: 1;
  color: #676D70;
  margin-bottom: 0;
  font-weight: 400;
}

.centerrr {
  text-align: center;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

.flex-5 {
  flex: 5;
}

.flex-sa {
  justify-content: space-around;
}

.flex-sb {
  justify-content: space-between;
}

.flex-col {
  flex-direction: column;
}

.ghost {
  height: 58px;
}

.container {
  width: 1074px;
  margin: 0 auto;
}

.subtitle {
  font-family: HelveticaNeueLTStd-BdCnO;
  font-size: 20px;
  color: #ff5f74;
  margin: 12px 0 7px 0;
  line-height: 20px;
}

nav a {
  color: #008EFF;
}

.department {
  height: 20vh;
  width: 100%;
  background: #f5f8fa;
  display: flex;
  padding: 0% 10%;
  position: relative;
}

.department .dep-unit {
  width: 10%;
  height: 100%;
  position: relative;
  text-align: center;
  color: #008EFF;
  font-size: 14px;
  font-weight: 600;
  transition: .2s ease-in-out;
  opacity: 0.3;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: center;
}

.department .dep-unit p {
  padding-top: 0px;
  margin-top: 0px;
}

.department .dep-unit:hover {
  opacity: 1;
}

.department .active {
  opacity: 1;
}

.sec-padding, .sec-intro {
  padding: 3% 10%;
}

.sec-intro {
  display: flex;
}

.sec-intro .intro {
  flex: 1;
  padding-right: 3vw;
}

.sec-intro .intro h3 {
  color: #008EFF;
}

.sec-intro .intro img {
  width: 100%;
}

.sec-intro .member {
  flex: 1;
  position: relative;
  padding-left: 2vh;
}

.sec-intro .member .member-unit {
  width: 18%;
  padding: 1.5vh;
  display: inline-flex;
  position: relative;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  cursor: pointer;
}

.sec-intro .member .member-unit .avatar {
  -webkit-border-radius: 100px;
  border-radius: 100px;
  height: 10vw;
  width: 10vw;
  position: relative;
  background: #90DEFF;
  background-size: cover;
  overflow: hidden;
}

.sec-intro .member .member-unit p {
  text-align: center;
  padding: 0;
  margin: 0;
  margin-top: 10px;
  font-size: 14px;
}

.sec-intro .member .member-unit .more {
  color: #999;
  margin-top: 0;
}

.sec-intro .member .member-unit .cover {
  background: #008EFF;
  width: 100%;
  height: 0%;
  overflow: hidden;
  opacity: 0.6;
  transition: .2s linear;
  margin-bottom: 0px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  color: #FFF;
  font-weight: 600;
}

.sec-intro .member .member-unit:hover .cover {
  height: 100%;
}

.sec-intro .member .member-unit:hover .avator {
  background-size: 150%;
}

.sec-works {
  background: #fff;
}

.sec-works .work {
  width: 20%;
  height: 20vw;
  background: #999;
  float: left;
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  opacity: 0.5;
  -webkit-transition: .1s linear;
  -moz-transition: .1s linear;
  -ms-transition: .1s linear;
  -o-transition: .1s linear;
  transition: .1s linear;
}

.sec-works .work:hover {
  opacity: 1;
}

.intro-gray {
  background: #f5f8fa;
}

.modal-wrap {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  display: none;
}

.modal {
  position: relative;
  background: #FFF;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  width: 75%;
  margin: 8% auto;
  height: 75vh;
}

.modal-bg {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

.title {
  padding: 9% 15%;
}
