

@charset "UTF-8";

@media screen and (max-width:768px){

}


nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 58px;
  background-color: #fff;
  border-top: #68D0FF solid 2px;

  .content {
    display: flex;
    width: 100%;
    max-width: 1074px;
    margin: 0 auto;
    align-items: center;

    .space {
      flex: 1;
    }

    .btn {
      cursor: pointer;
      user-select: none;
    }

    div {
      position: relative;
      font-size: 14px;
      font-weight: 600;
      color: $azure;
      width: 100px;
      text-align: center;
      display: inline-block;
      cursor: pointer;
      transition: .2s;
      &:after {
        content: '';
        position: absolute;
        background-color: $light-peach;
        width: 40px;
        height: 40px;
        top: 50%;
        left: 0;
        right: 0;
        margin: auto;
        border-radius: 25px;
        z-index: -1;
        transform: scale(0) translateY(-50%);
        transform-origin: 50% 0%;
        transition: .3s cubic-bezier(0, 0.25, 0.4, 1.82);
      }
    }

    div:hover, div:active, div:focus {
      &:after {
        transform: scale(1) translateY(-50%);
      }
    }

    .action {
      font-size: 14px;
      font-weight: 600;
      color: white;
      background-color: $azure;
      border-radius: 3px;
      text-align: center;
      padding: 6px 22px;
      transition: .2s ease-in-out;
      cursor: pointer;

      &:hover {
        background-color: $sky-blue;
      }
    }
  }
}

.call-btn {
  width: 144px;
  height: 47px;
  border-radius: 100px;
  background-color: #008eff;
  color: white;
  text-align: center;
  line-height: 47px;
  font-weight: 600;
  cursor: pointer;
  transition: .2s ease-in-out;

  &:hover {
    background-color: $sky-blue;
  }
}

// 讓夢想中的未來就地發生
.section-1 {
  height: 420px;
  background-color: white;
  
  h2 {
    font-size: 52px;
    color: #008EFF;
    line-height: 73px;
    margin-top: 53px;
  }

  h3 {
    color: $coral-pink;
    margin-top: 10px;
  }

  .call-btn {
    margin-top: 56px;
  }
}

// 為什麼是貝殼放大
.section-2 {
  height: 476px;
  background-image: url(/assets/img/main/line-bg.png);
  padding-top: 12px;
  
  h4 {
    width: 525px;
    margin-top: 24px;
  }

  .huge-data {
    margin: 30px 0 0 50px;
  }
}

// 數據展示
.section-3 {
  height: 370px;
  width: 1350px;
  margin: 0 auto;
  margin-top: -170px;
  background-color: white;
  box-shadow: 5px 8px 41px 0 rgba(159, 164, 167, 0.25);
  text-align: center;
  justify-content: center;
  align-items: center;

  .average {
    color: $yellow-orange;

    h4 {
      max-width: 280px;
    }
  }

  .succeed {
    color: $coral-pink;

    h4 {
      max-width: 343px;
    }
  }

  .media-report {
    color: $azure;
  }

  .number {
    font-family: HelveticaNeueLTStd-BdCnO;
    font-size: 103px;
    line-height: 1.2;
    margin-bottom: -20px;
  }

  .unit {
    font-size: 23px;
    font-weight: 600;
  }

  h4 {
    margin: 30px auto 0 auto;
  }
}

// 0個專案跑路
.section-4 {
  height: 115px;
  justify-content: center;
  align-items: center;
  text-align: center;

  .fail {
    color: $azure;
    font-size: 36px;
    font-family: HelveticaNeueLTStd-BdCnO;
    display: inline-block;
    margin-right: 10px;
  }
}

// 我們提供什麼樣的服務
.section-5 {
  height: 516px;
  background-color: $pale-grey;
  padding-top: 22px;
}

// 瞭解更多
.section-6 {
  height: 135px;
  justify-content: center;
  align-items: center;
  text-align: center;

  .call-btn {
    display: inline-block;
    margin-left: 35px;
  }

}

// 聽聽他們怎麼說
.section-7 {
  // not sure
  height: 300px;
  background-color: $sky-blue;
  padding-top: 22px;

  h2 {
    color: white;
  }

  .subtitle {
    color: $robin-egg-blue;
  }

  .news {
    width: 308px;
    height: 201px;
    border-radius: 5px;
    background-color: #ffffff;
    border: solid 3px $sky-blue;
    margin-top: 30px;
    text-align: center;

    h4 {
      margin-top: 40px;
    }

    .r-h4 {
      color: $coral-pink;
      margin-top: 50px;
    }
  }

  .section-7-2 {
    background-color: $light-grey;
    height: 300px;
    margin-top: -75px;

    .container {
      padding-top: 105px;
    }
  }
}

.section-8 {
  height: 436px ;

}

.section-9 {
  // not sure
  height: 438px;
  background-color: #D0EFFC;
}

.section-10 {
  height: 436px;
}

footer {

}





