$azure: #008EFF;
$azure-opacity: rgba(0,142,255,0.5);
$coral-pink: #ff5f74;
$sky-blue: #44acf2;
$light-peach: #ffd9a5;
$yellow-orange: #ffb300;
$pale-grey: #f5f8fa;
$robin-egg-blue: #90DEFF;
$light-grey: #f1f2f3;
$gray: #999;
$border-blue: #f1f8fc;
$deep-blue: #0a2f54;
$blue-gray: #f4f5f9;
